#root {
  margin: 0 auto;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: hsl(211, 100%, 92%);
}

.bg-blue-300 {
  background-color: #e7f2ff;
}

.rounded-full {
  border-radius: 5px;
}

.border {
  border-style: solid;
}

.border-blue-800 {
  border-color: hsl(217, 100%, 71%);
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.z-20 {
  z-index: 20;
}


.fixtranslate {
  width: max-content;
}